div.user-card
    - const fullName = `${name.first} ${name.last.toUpperCase()}`
    h4 #{fullName} 
        small (#{age} #{age > 1 ? "ans" :"an"})
    - const formattedBirthDate = new Date(birthdate).toLocaleDateString('fr-FR')
    p Né le #{formattedBirthDate}
    - const cityWithZipCode = `${location.city}, ${location.zipcode}`
    p Vit à 
        strong #{cityWithZipCode}

    if isAdmin
        span.badge-admin Est Administrateur
    else 
        span.badge-admin N'est pas Administrateur